<div class="favVids">
<h1><%= current_user.fname %>'s Favorite Recipes</h1>
<div align="center">

    <% @users_has_recipes.each do |users_has_recipe| %>
    <table>
  <thead>
    <tr>
      
      <th><h3><%= users_has_recipe.recipe.name %></h3></th>
      
    </tr>
  </thead>
<tbody>
      <tr>
       
        <td><iframe width="380" height="200" src="<%= users_has_recipe.recipe.videourl %>" frameborder="0" allowfullscreen></iframe></td>
       <tr>
        <td><%= button_to "Delete this recipe", users_has_recipe, method: :delete, data: { confirm: "Are You Sure?" } %></td>
        </tr>
      </tr>
        </tbody>
</table>
<br>
    <% end %>

</div>
</div>
<br>



