<style>
  .favs{
 width: 400px;
  height: 400px;
  overflow: auto;

  font-size: 8px;

  padding: 12px;
 
  overflow: scroll;
  }
  
</style>



<div class="favs">

<% @favorite_video.each do |users_has_recipe| %>
<h3><%= users_has_recipe.recipe.name %></h3>


<iframe width="300" height="200" src="<%= users_has_recipe.recipe.videourl %>" frameborder="0" allowfullscreen></iframe>

    <% end %>
    
</div>