<style>
  .gen{
 
  height: 600px;

  overflow: auto;
  }
  
</style>


<div class="gen" >

<table>
 

  <tbody>
    <% @gen.each do |recipes_has_ingredient| %>
    
      <tr>
        <td><h3><%= recipes_has_ingredient.recipe.name %></h3></td>
       
                <td><iframe width="350" height="200" src="<%= recipes_has_ingredient.recipe.videourl %>" frameborder="0" allowfullscreen></iframe></td>

        <td><%= button_to 'Favorite', {:controller => "users_has_recipes", :action => "create", :recipe_id => recipes_has_ingredient.recipe.id} , {:method => :post}  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>