<style>
  .gen{
      width: 600px;
  height: 600px;
  overflow: auto;
  margin: 16px auto;
  font-size: 8px;
  background: #b1d1b1;
  padding: 12px;
  box-shadow: 2px -2px 5px #888888;
  overflow: scroll;
  }
  
</style>


<div class="gen" >

<table>
<h1>Results</h1>

  <tbody>
    <% @gen.each do |recipes_has_ingredient| %>
      <tr>
        <td><h3><%= recipes_has_ingredient.recipe.name %></h3></td>
       
                <td><iframe width="350" height="200" src="<%= recipes_has_ingredient.recipe.videourl %>" frameborder="0" allowfullscreen></iframe></td>

        <td><%= button_to 'Favorite', {:controller => "users_has_recipes", :action => "create", :recipe_id => recipes_has_ingredient.recipe.id} , {:method => :post}  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>