<table>

  <thead>
    <tr>
      <h1>Results</h1>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gen.each_with_index do |recipes_has_ingredient, index| %>
      <tr>
        <td><h3><%= recipes_has_ingredient.recipe.name %></h3></td>
       
                <td><iframe width="350" height="200" src="<%= recipes_has_ingredient.recipe.videourl %>" frameborder="0" allowfullscreen></iframe></td>

        <td><%= button_to 'Favorite', {:controller => "users_has_recipes", :action => "create", :recipe_id => recipes_has_ingredient.recipe.id} , {:method => :post}  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>
