<div class="ingblock1">

<table>

  <thead>
    <tr>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @quik_recipes.each do |recipe| %>
      <tr>
        <td><h3><%= recipe.name %> <%= recipe.totaltime %> min</h3></td>
      </tr>
      
        <thead>
    <tr>
      <th><iframe width="300" height="200" src="<%= recipe.videourl %>" frameborder="0" allowfullscreen></iframe></th>
      </th>
    </tr>
  </thead>
      <tr>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>