<div class="ingblock1">
<div class="ing-container1">
<table>
  <h1>"Quik" < 10 min Recipes</h1>
  <thead>
  </thead>

  <tbody>
    <% @quik_recipes.each do |recipe| %>
      <tr>
        <td><iframe width="560" height="315" src="<%= recipe.videourl %>" frameborder="0" allowfullscreen></iframe></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>