<div class="ingblock1">


    <% @quik_recipes.each do |recipe| %>
    <table>


      <tr>
        <th><h3><%= recipe.name %> <%= recipe.totaltime %> min</h3></th>
      </tr>
      

    <tr>
      <td><iframe width="300" height="200" src="<%= recipe.videourl %>" frameborder="0" allowfullscreen></iframe></td>
    </tr>
    <% end %>
</table>

</div>

<br>