<div class="ingblock1">

<table>

  <tbody>
    <div class="centered">
    <% @top_five.each_with_index do |recipe, index| %>
      <tr>
        <td><h3>#<%= index + 1 %></h3></td>
        <td><iframe width="300" height="200" src="<%= recipe.videourl %>" frameborder="0" allowfullscreen></iframe></td>
      </tr>
    <% end %>
    </div>
  </tbody>
</table>
</div>
</div>

<br>