<div class="ingblock1">

<table>

  <thead>
  </thead>
  <tbody>
    <div class="centered">
    <% @top_five.each_with_index do |recipe, index| %>
      <tr>
        <td><h1>#<%= index + 1 %></h1></td>
        <th><iframe width="300" height="200" src="<%= recipe.videourl %>" frameborder="0" allowfullscreen></iframe></th>
      </tr>
    <% end %>
    </div>
  </tbody>
</table>
</div>
</div>

<br>