<div class="ingblock1">


    <div class="centered">
    <% @top_five.each_with_index do |recipe, index| %>
<table>

  <tbody>
      <tr>
        <th></th>
        <th><h3>#<%= index + 1 %> <%= recipe.name %></h3></th>
      </tr>
      <tr>
        <th><h3></h3></th>
        <td><iframe width="300" height="200" src="<%= recipe.videourl %>" frameborder="0" allowfullscreen></iframe></td>
      </tr>
    <% end %>
    </div>
  </tbody>
</table>
</div>
</div>

<br>