<div class="ingblock1">


    <% @top_five.each_with_index do |recipe, index| %>
<table>

  <tbody>
      <tr>
        <th><h3>#<%= index + 1 %> <%= recipe.name %></h3></th>
      </tr>
      <tr>
        <td><iframe width="300" height="200" src="<%= recipe.videourl %>" frameborder="0" allowfullscreen></iframe></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>