<div class="ingblock1">
<div class="ing-container1">
<table>
  <h1>Top 5 Most Popular Recipes</h1>
  <thead>
  </thead>

  <tbody>
    <% @top_five.each_with_index do |recipe, index| %>
      <tr>
        <td><h1># <%= index + 1 %></h1></td>
        <td><iframe width="560" height="315" src="<%= recipe.videourl %>" frameborder="0" allowfullscreen></iframe></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>