<h1>Editing Users Has Ingredient</h1>

<%= render 'form', users_has_ingredient: @users_has_ingredient %>

<%= link_to 'Show', @users_has_ingredient %> |
<%= link_to 'Back', users_has_ingredients_path %>
