

<p>
  <strong>User:</strong>
  <%= @users_has_ingredient.user.fname %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @users_has_ingredient.ingredient.name %>
</p>

<%= link_to 'Edit', edit_users_has_ingredient_path(@users_has_ingredient) %> |
<%= link_to 'Back', users_has_ingredients_path %>
