<!Doctype HTML>
<HTML>
<header>
  


</header>

<body>


<div class="post-container">


<% if user_signed_in? %>
		<%= button_to 'New List', {:controller => "posts", :action => "new"} , {:method => :get}  %>
<h2> YOUR LISTS </h2>

<%if @posts.present? %>
<% @posts.each do |post| %>
	<h3><u><%= post.title %></u></h3>
	<div><%= truncate(post.body, :length => 25) %></div>
	<br>
	<%= button_to "Read List", post,{:method => :get} %>

	<hr>
	<br>
	<% end %>
	<% end %>

<% end %>

</div>
</body>
</HTML>