
  <!-- sidebar content specific to this page -->


<h2><%= @post.title %></h2>

<div>
	<%= @post.body %>
</div>
<br>
<% if user_signed_in? %>
<button class="button"><%= link_to "Edit Post", edit_post_path(@post) %></button>

<button class="button"><%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are You Sure?" } %></button>

<% end %>

