/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import "bootstrap-sprockets";
@import "bootstrap";
 
body {
    background-color: #e3e1df;
    background-image: url("welcome/FruitO2.png");

}
.con1 h1{
   
   position: absolute;
   text-align: center;
   width: 100%;
    top: 18%;
    color: white;
    z-index: 1;
    font-size: 300%;
    text-shadow: 50%;
}

.con1 h4{
   
   position: absolute;
   text-align: center;
   width: 100%;
    top: 15%;
    color: white;
    z-index: 1;
    font-size: 200%;
    text-shadow: 50%;
}

.con2 {
   
   position: absolute;
   text-align: center;
   width: 100%;
   top: 25%;
    z-index: 2;
   
    text-shadow: 50%;
}

.con3 {
   
    position: absolute;
    text-align: center;
    width: 100%;
    top: 31%;
    z-index: 1;
    text-shadow: 50%;
}

head {
	margin: 0;
}



.logo {
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url("logos/QuikByte Logo.png");
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: 14% auto;
    height: 100px;
    z-index: 0;
    box-shadow: 2px 2px 5px #888888;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
}
.topmenu {
    
    bottom: -7%;
    left: 10%;
    list-style: outside none none;
    position: center;
    text-align: center;
    
}
.menuitem {
    
    display: inline-block;
    font-size: 22px;
    padding: 3px 10px;

    text-transform: uppercase;

}

.menuitem a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
}
.banner {
    background-image: url("banner/banS7.png");
    position: relative;
    background-repeat: no-repeat;
    height: 55%;
    
    margin-top:0;
    
    width: 100%;
    
}


/* unvisited link */
.menuitem a:link {
    color: #5a5b5a;
}

/* mouse over link */
.menuitem a:hover {
	text-decoration: none;
    border-bottom: 3px solid;
    border-bottom-color: red;
    color: #63a163;

}

.menuitem a:active {
    text-decoration: none;
    border-bottom: 3px solid;
    border-bottom-color: red;
    color: #63a163;
    
}

.wut h3 {
	position: bottom;
 
   text-align: center;

}


.wrapper {
	height: 350px;
}


.dapost {
	position: bottom;
	
	text-align: center;
}

.wrapper1
 {
 	height: 400px;

}
.wrapper2
 {
 	height: 400px;

}
.who button{
    list-style: outside none none;
    top: 0px;
    right: 0px;
    background-color: #f2f2f2; 
    border: none;
    font-size: 16px;
    opacity: 0.70;
    background-color: transparent;
    width: 100%;

}

.w3-dropdown-hover button{
    
      top: 0px;  
}



a:link { 
	text-decoration: none;
  color: #5a5b5a;
  background-color: transparent;
}
a:visited { 
  color: #5a5b5a;
}
a:hover { 
  color: #63a163;
}
a:active { 
  color: #333333;
}

/*.who button {
	-moz-box-shadow: 0px 10px 14px -7px #3b3b3b;
	-webkit-box-shadow: 0px 10px 14px -7px #3b3b3b;
	box-shadow: 0px 10px 14px -7px #3b3b3b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #bababa));
	background:-moz-linear-gradient(top, #ffffff 5%, #bababa 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #bababa 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #bababa 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #bababa 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #bababa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bababa',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    width: 80px;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px -50px 0px #737373;
}*/

footer {
    padding: 1em;
    color: white;
    background-color: #5a5b5a;
    clear: left;
    text-align: center;
    bottom: 0px;
    left: 0px;
}

footer .social td{

    padding: 8px;
}


footer .socialitem a:hover { 
  opacity: 0.5;
}


.welcome {
   background: #e3e1df;
  padding: 12px;
  text-align: center;
  
}

.welcome1 {
   background: #b1d1b1;
  padding: 12px;
     text-align: center;
     
}

.fooditem a{

    text-align: center;
}

.food {
   
     text-align: center;
}
.fooditem  {

    display: inline-block;
    padding: 50px;
    text-align: center;

}

.fooditem ul, li{ 
   text-align: center;

   color: black;
}

table .tab1 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.tab1 td, th {
    border: none;
    text-align: center;
    padding: 8px;
}

p {
    text-align: center;
}

