// Place all the styles related to the Ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import "bootstrap-sprockets";
@import "bootstrap";


.ingblock {
  width: 500px;
  height: 1000px;
  overflow: auto;
  margin: 16px auto;
  font-size: 15px;
  background: #e3e1df;
  padding: 12px;
  box-shadow: 2px -2px 5px #888888;
}

.ingblock1 {
  width: 400px;
  height: 400px;
  overflow: auto;
  margin: 16px auto;
  font-size: 8px;
  background: #b1d1b1;
  padding: 12px;
  box-shadow: 2px -2px 5px #888888;
}



.search input {
  box-sizing: border-box;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  text-align: center;
  

}

.search input[type="submit"] {
  background: #52855d;
  border-color: transparent;
  color: #ffffff;
  cursor: pointer;

}

.search input[type="submit"]:hover {
  background: #63a163;
}

table .ult, .tabs, td{
  width: 75%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20%;
      margin-left: auto;
  margin-right: auto;
}

td, th {
    border: none;
    text-align: center;
    padding: 8px;
}


