// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resblock {
  width: 40%;
  height: 1000px;
  overflow: auto;
  margin: 16px auto;
  font-size: 15px;
  background: #b1d1b1;
  padding: 12px;
  box-shadow:  0px -2px 10px #888888;
}

.resblock td{
    padding: 8px;
    border: 1px solid#5a5b5a;

}


.resblock th{
    padding: 8px;
    border: 1px solid#5a5b5a;

}

.resblock button{
    width: 80%;
}

.tabs td{
    border: none;
}

iframe {
    width: 350px; 
    height: 200px;
}

@media screen and (max-width: 810px) {
    .resblock {
      width: 70%;
      height: 500px;
      overflow: auto;

      background: #b1d1b1;

    }

}

@media screen and (max-width: 415px) {
    .resblock {
      width: 100%;
      height: 300px;
      overflow: auto;

      background: #b1d1b1;
    }
      
      iframe {
    width: 250px; 
    height: 150px;
}




}