// Place all the styles related to the UsersHasIngredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centered {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ing-container {
    margin-left: auto;
  margin-right: auto;
 width: 1300px;
  background: #e3e1df;
  padding: 12px;
  box-shadow: 2px -2px 5px #888888;

}

.someclass{

    display: inline-block;
cursor: pointer;
font-size: 13px; line-height:18px;
 width: 25px;
 height: 25px;
 vertical-align: middle;
 background-color: black;
 color: #f3f3f3;
 text-align: center;
 background-image: url("logos/QuikByte Logo.png");
}
.checkbox {

}