<h1>Editing Recipes Has Ingredient</h1>

<%= render 'form', recipes_has_ingredient: @recipes_has_ingredient %>

<%= link_to 'Show', @recipes_has_ingredient %> |
<%= link_to 'Back', recipes_has_ingredients_path %>
